services:
  backend:
    build: ./backend
    container_name: backend_api
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./db:/app/db
    environment:
      - DATABASE_URL=postgresql+psycopg2://proj_user:proj_pass@db:5432/proyecto_db
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend_app
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - backend

  db:
    image: postgres:15-alpine
    container_name: proyecto_db
    restart: always
    environment:
      - POSTGRES_USER=proj_user
      - POSTGRES_PASSWORD=proj_pass
      - POSTGRES_DB=proyecto_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"


volumes:
  pgdata:

